body{
    font-family: Arial, sans-serif;
    margin: 0;
}
nav{
    background-color: orange;
    padding: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    }
nav a{
    color: gray;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    font-size: 20px;
}
div{
 background-color: gray; 
 color:white;
 text-align: center;
 padding: 15px;
 margin: 15px;

}
button{
    font-size:20px ;
    padding: 14px,25px;
}
h1{
    font-size: 35px;
}
